@page "/AddMembers"

<h3>Add Members</h3>

<form class="col-md-6">
    <div class="form-group">
        <label for="nickName">Nick name</label>
        <input type="text" class="form-control" id="nickName">
    </div>
    <div class="form-group">
        <label for="firstName">First name</label>
        <input type="text" class="form-control" id="firstName">
    </div>
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input type="text" class="form-control" id="lastName">
    </div>
    <div class="form-group">
        <label for="dateOfBirth">Date of birth</label>
        <input type="date" class="form-control" id="dateOfBirth">
    </div>
    <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="form-control" id="city">
    </div>
    <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="form-control" id="country">
    </div>
    <div class="form-group">
        <label for="image">Upload image</label>
        <input type="file" class="form-control-file" id="image">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>

@code {

}
