@page "/members"

@using DataAccess.Repositorys.Interface
@using DataAccess.Models

@inject IMembersRepository _membersRepository


@if (members == null || members.Count == 0)
{
    <p>This saga has no members yet!</p>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="typewriter">
                    <h1 class="h1-the-team">The Team</h1>
                </div>
            </div>
        </div>

        <div class="card-deck">
            @foreach(var member in members)
            {
                <div class="card">
                    <img src="data:image/jpeg;base64, @(Convert.ToBase64String(member.Image))" class="rounded float-left"/>
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            }
        </div>
    </div>
}

@code {
    private List<MembersModel> members;

    protected override async Task OnInitializedAsync()
    {
        members = await _membersRepository.GetAllMembers();
    }
}
